---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";

import { getCollection } from "astro:content";
import { getRelativeLocaleUrl } from "astro:i18n";

const projects = await getCollection("projectsEN");
---

<Layout title="Manuel Gómez Cámara - WIP">
  <header
    class="z-50 flex justify-end items-center justify-item-end top-0 fixed h-20 w-full bg-blue-400"
  >
    <a
      transition:name={"changeLanguage"}
      class="mr-12 hover:text-gray-700"
      href={getRelativeLocaleUrl("es", `/`)}
    >
      <span>Cambiar a Castellano</span>
    </a>
  </header>
  <main class="mb-52">
    <section class="lg:flex lg:items-center justify-center text-center my-10">
      <img
        src="/circularphoto.png"
        alt="Foto de Manuel, se ve un hombre con gafas y barba, la foto tiene forma circular, está en blanco y negro con el fondo en rojo con un degradado hacia blanco conforme se acerca al centro"
        class="lg:mx-12 mx-auto max-w-sm max-h-sm md:max-w-md md:max-h-md my-20"
      />

      <section>
        <h1 class="text-7xl text-white font-bold">
          Manuel Gómez <span class="block text-5xl text-blue-400"
            >Mobile Developer</span
          >
        </h1>

        <h3 class="block text-xl text-white underline my-4 hover:text-blue-400">
          <a href="mailto:job@manuelgomezcamara.com"
            >job@manuelgomezcamara.com</a
          >
        </h3>
      </section>
    </section>
    <section class="text-2xl lg:mx-auto prose prose-invert mx-10">
      <p>
        Mobile software engineer with over 4 years of experience in designing
        and developing cross-platform and native applications, specializing in
        technologies like <span class="text-blue-400 font-bold">Unity</span>,
        <span class="text-blue-400 font-bold">Kotlin</span>, and
        <span class="text-blue-400 font-bold">Swift</span>. I have worked in
        teams on
        <span class="text-blue-400 font-bold">Augmented Reality</span> and
        <span class="text-blue-400 font-bold">Virtual Reality</span> projects, from
        conceptualization to implementation and launch.
      </p>
      <p>
        To deepen my knowledge in the <span class="text-blue-400 font-bold"
          >mobile development</span
        > field, I recently completed a master's degree in mobile development at
        the University of Alicante, where I specialized in native mobile development
        for Android and iOS using
        <span class="text-blue-400 font-bold">Android Studio</span> with Kotlin and
        <span class="text-blue-400 font-bold">Xcode</span> with Swift, as well as
        cross-platform applications with Ionic, and the use of Laravel for API creation.
        I pursued this master's degree while working as a Programming teacher in
        high schools, where I have refined my
        <span class="text-blue-400 font-bold">communication</span>,
        <span class="text-blue-400 font-bold">presentation skills</span>, and
        <span class="text-blue-400 font-bold">team management</span> among other
        soft skills.
      </p>
    </section>
    <section class="my-20 mx-auto">
      <h2 class="text-center text-4xl text-blue-400 font-bold ≈">Projects</h2>
      <section
        class="my-20 grid gap-2 xl:grid-cols-3 md:grid-cols-2 container mx-auto"
      >
        {
          projects.map((project) => {
            const { slug, data } = project;
            const { name, fecha, img, resume } = data;

            return (
              <a href={getRelativeLocaleUrl("en", `/projects/${slug}`)}>
                <article class="prose hover:bg-gray-300 bg-gray-600 rounded-3xl p-20 prose text-gray-900">
                  <img
                    transition:name={`img-${slug}`}
                    src={img}
                    alt={`foto del proyecto ${name}`}
                    class="mx-auto rounded-2xl"
                  />
                  <h3
                    transition:name={`name-${slug}`}
                    class="text-center text-3xl"
                  >
                    {name}
                  </h3>
                  <h6 class="text-blue-400 text-center text-xl">{fecha}</h6>
                  <p class="">{resume}</p>
                </article>
              </a>
            );
          })
        }
      </section>
    </section>
  </main>
</Layout>
